body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.namehaighlit {
  color: orange;
}
.hader-top {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.hader-top img {
  width: 100%;
}
.first-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
section {
  height: 500px;
}
.buttonlink {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  font-size: 17px;
}
